<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
    <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>
    {% if error %}
        <p style="color: red; font-weight: bold;">{{ error }}</p>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} Points available: {{club['points']}}
    
<h3>Competitions:</h3>
<ul>
    {% for comp in competitions %}
    <li>
        {{ comp['name'] }}<br />
        Date: {{ comp['date'] }}<br />
        Number of Places: {{ comp['numberOfPlaces'] }}
        <br>
        <strong>Statut : </strong>
        {% set places_booked_by_club = comp.placesBookedByClub.get(club.name, 0) if comp.placesBookedByClub else 0 %}
        
        {# On vérifie D'ABORD si la compétition est passée #}
        {% if comp.is_past %}
            <span style="color:grey;">PASSÉE</span>

        {# SINON, on fait les autres vérifications #}
        {% elif comp.numberOfPlaces|int == 0 %}
            <span style="color:red;">COMPLÈTE</span>
        {% elif places_booked_by_club >= 12 %}
            <span style="color:orange;">QUOTA ATTEINT (12 places réservées)</span>
        {% else %}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Réserver des places</a>
        {% endif %}
    </li>
    <hr />
    {% endfor %}
</ul>

</body>
</html>